html {
	overflow-x: hidden;
}
body * {
	font-family: font-awesome;	
}
.dropButtons {
	width: 110px;
}
.input-group {
	width: 40%;
	float: right;
}

/* media query*/
@media (max-width:720px) {
	#navbar > ul > li > button {
		width: 220px;
	}
	#navbar > ul.nav.navbar-nav.navbar-right {
		float: right;
	}
	.navbar-nav {
		float: left;
	}
}

/* media query END*/

/* navbar style */

#navbar {
	position: relative;
	top: 4px;
	margin: 5px 0;
}
.nav>li {
	position: relative;
	display: block;
	margin-right: 5px;
}

/* navbar style END*/
.contentWrapper {
	position: relative;
	top: 6em;
	text-align: center;
}
.contentWrapper, .btn-group {
	margin-right: 5px;
}
div#categoryTittle {
	padding: 1em;
	font-size: 25px;
}

/* footer style */
.footer {
	position: fixed;
	bottom: 0;
	background-color: #FFFFFF;
	width: 100%;
}
.text-muted {
	text-align: center;
}
.text-muted span a {
	margin-right: 1em;
}

/* footer style END */


/* <--------------needs.html style--------> */
.topLinks {padding-top: 8em; text-align: left; position: relative;
    left: 5%;
}
.topLinks span {margin-right: 5px;}
.topLinks span a {text-decoration: none; color:black;}
.status {background-color: lightgray; padding:15px;}
.status span {margin-right: 2em;}
.status span a{color:black;}
.status span a:hover{text-decoration: underline;}
/* <--------------needs.html style END--------> */

